@page
@{
    ViewData["Title"] = "Server Error";
    Layout = "_Layout";
}

<div class="hero">
    <div class="space-separator--lg"></div>
    <div class="space-separator--lg"></div>
    <div class="space-separator--md"></div>
    <div class="space-separator"></div>
    <div class="page-container-sm">
        <div class="hero-container not-found-container">
            <h4 class="text-white">500</h4>
            <h1 class="text-white hero-title-faq">Server Error</h1>
            <h5 class="not-found-subtitle pr-5">Sorry, but an error has occured. Please <a class="subtitle-link" href="https://www.royallifesaving.com.au/forms/contact-us-form">contact us</a> if the issue persists.</h5>
        </div>

    </div>
    <div class="space-separator--lg"></div>
    <div class="space-separator--lg"></div>
    <div class="space-separator--md"></div>
    <div class="wave-spacer">
        <img class="error" src="/images/hero-bg-new.png" alt="">
    </div>
</div>