@page
@{
    ViewData["Title"] = "FAQ - Royal Life Saving eBook Store";
    Layout = "_Layout";
}


<div class="hero">
    <div class="space-separator--lg"></div>
    <div class="space-separator--lg"></div>
    <div class="space-separator--md"></div>
    <div class="space-separator"></div>
    <div class="page-container-sm">
        <div class="hero-container faq-hero-container">
            <h1 class="text-white hero-title-faq">FAQ</h1>
        </div>

    </div>
    <div class="space-separator--lg"></div>
    <div class="space-separator--lg"></div>
    <div class="space-separator--md"></div>
    <div class="wave-spacer">
        <img class="faq" src="/images/bg-faq.png" alt="">
    </div>
</div>

<div class="page-container-sm">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                    What's the process for purchasing and accessing an eBook?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <p>
                    To purchase a Royal Life Saving (RLS) eBook:
                    </p>
                    <ul>
                        <li>At the Royal Life Saving eBook store, select item you want to purchase</li>
                        <li>On single product page, click BUY NOW button. </li>
                        <li>Follow prompts to submit credit card details, email address and confirm purchase</li>
                        <li>View screen confirming successful purchase </li>
                        <li>Go to your inbox, open email from Royal Life Saving Australia and click on Login button to access your eBook </li>
                        <li>Enter email address</li>
                        <li>Click <span class="fw-bold">View or Download</span> button </li>
                        <li>At the VitalSource homepage there are 2 options:
                            <ul>
                                <li><span class="fw-bold">Option 1: Recommended:</span> Enter email andfollow prompts to create a full account with VitalSource Bookshelf.  This will enable you to access your eBook(s) via direct login in future.  You will also be able to download the VitalSource Bookshelf app to read on phone/tablet and offline.</li>
                                <li><span class="fw-bold">Option 2:</span> Click ‘Continue without an Account’ and follow prompts to access your eBook.</li>
                            </ul>
                        <li>Commence Reading</li>
                    </ul>
                   </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    What's the process for accessing an eBook as part of my enrolment in a Royal Life Saving or Life Saving Victoria course, e.g. CPR, First Aid, Pool Lifeguard, Swim Teacher? 
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <p>
                    When you enrol into your course with Royal Life Saving, including Life Saving Victoria, access to your eBook will be granted automatically.
                    </p>
                    
                    <p>For students enrolled in a course with NSW, ACT, TAS, SA, NT, and QLD follow the below steps:</p> 
                    <ul>
                        <li>Navigate to your Learner Portal home page</li>
                        <li>Select <span class="fw-bold">Current Activities</span></li>
                        <li>Access the eBook via the <span class="fw-bold">Resources</span> and then <span class="fw-bold">Unit of Competency Resources tab</span>.</li>
                        <li>Click the Download icon (follow any additional prompts)</li>
                        <li>At the VitalSource homepage there are 2 options:
                            <ul>
                                <li><span class="fw-bold">Option 1: Recommended:</span> Enter email and follow prompts to create a full account with VitalSource Bookshelf.  This will enable you to access your eBook(s) via direct login in future.  You will also be able to download the VitalSource Bookshelf app to read on phone/tablet and offline.</li>
                                <li><span class="fw-bold">Option 2:</span> Click ‘Continue without an Account’ and follow prompts to access your eBook.</li>
                            </ul>  
                        </li>
                        <li>Commence Reading</li>
                    </ul>

                     <p>For students enrolled in a course with Victoria follow the below steps:  </p> 
                     <ul>
                        <li>Navigate to your Learner Portal</li>
                        <li>Select <span class="fw-bold">My Enrolments</span></li>
                        <li>Select the applicable course, e.g. Pool Lifeguard</li>
                        <li>Select <span class="fw-bold">Access/Launch eBook</li> (follow any additional prompts)</li>
                        <li>At the VitalSource homepage there are 2 options:
                            <ul>
                                <li><span class="fw-bold">Option 1: Recommended:</span> Enter email and follow prompts to create a full account with VitalSource Bookshelf.  This will enable you to access your eBook(s) via direct login in future.  You will also be able to download the VitalSource Bookshelf app to read on phone/tablet and offline.</li>
                                <li><span class="fw-bold">Option 2:</span> Click ‘Continue without an Account’ and follow prompts to access your eBook. </li>
                            </ul>  
                        </li>
                        <li>Commence Reading</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFiftheen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFiftheen" aria-expanded="false" aria-controls="panelsStayOpen-collapseFiftheen">
                    Who do I contact for technical and account support issues if I am having trouble accessing my eBook?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFiftheen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFiftheen">
                <div class="accordion-body">
                    <p>
                    Please contact Royal Life Saving at <a href="mailto:helpdesk@rlssa.org.au">helpdesk@rlssa.org.au</a> or 8217 3110
                    </p>
                    
                    <a href="https://www.royallifesaving.com.au/forms/contact-us-form/">Contact us</a> 
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                   How do I access my eBook(s) at a later date, e.g. if I have closed the viewing tab/logged out of my account?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <p>
                    There are 3 options here depending on your situation:</p>
                    <p>Option 1: <br /> Through the Royal Life Saving eBook store/web page you can:</p>
                    
                    <ul>
                        <li>Select  <span class="fw-bold">Login</span>(top right of website masthead) </li>
                        <li>Enter email address.  You are then presented with a screen notifying that you will receive an email to Login </li>
                        <li>Click <span class="fw-bold">View or Download</span> button </li>
                        <li>If you have already created a full account with VitalSource you should be able to immediately access your eBook.  If you do not have a full account, there are 2 options:
                            <ul>
                                <li><span class="fw-bold">Option 1: Recommended:</span> Enter email and follow prompts to create a full account with VitalSource Bookshelf.  This will enable you to access your eBook(s) via direct login in future.  You will also be able to download the VitalSource Bookshelf app to read on phone/tablet and offline.</li>
                                <li><span class="fw-bold">Option 2:</span> Click ‘Continue without an Account’ and follow prompts to access your eBook.</li>
                            </ul>
                        </li>
                    </ul>
                    <p>Option 2: <br/> Through VitalSource Bookshelf directly (for those who have created full account with VitalSource)</p>
                    <ul>
                        <li>Follow the prompts (enter email address and password) on the VitalSource Bookshelf landing page </li>
                        <li>Navigate to your library </li>
                        <li>Select the appropriate eBook </li>
                    </ul>
                    <p>Option 3: <br/> 
                    Through the Learner Portal associated with your training course (for those accessing an eBook as part of their enrolment in an RLS course) </p>
                    <p>For students enrolled in a course with NSW, ACT, TAS, SA, NT, and QLD follow the below steps:</p>
                    <ul>
                        <li>Navigate to your Learner Portal home page</li>
                        <li>Select <span class="fw-bold">Current Activities</span> </li>
                        <li>Access the eBook via the <span class="fw-bold">Resources</span> and then <span class="fw-bold">Unit of Competency Resources tab</span>. </li>
                        <li>Click the Download icon (follow any additional prompts) </li>
                        <li>At the VitalSource homepage there are 2 options:</li>
                        <li>
                            If you have already created a full account with VitalSource you should be able to immediately access your eBook.  If you do not have a full account, there are 2 options:
                            <ul>
                                <li><span class="fw-bold">Option 1: Recommended:</span> Enter email and follow prompts to create a full account with VitalSource Bookshelf.  This will enable you to access your eBook(s) via direct login in future.  You will also be able to download the VitalSource Bookshelf app to read on phone/tablet and offline.</li>
                                <li><span class="fw-bold">Option 2:</span> Click ‘Continue without an Account’ and follow prompts to access your eBook. </li>
                            </ul>
                        </li>
                        <li>Commence Reading</li>
                    </ul>

                     <p>For students enrolled in a course with Victoria follow the below steps:  </p> 
                    <ul>
                        <li>Navigate to your Learner Portal</li>
                        <li>Select <span class="fw-bold">My Enrolments</span></li>
                        <li>Select the applicable course, e.g. Pool Lifeguard</li>
                        <li>Select <span class="fw-bold">Access/Launch eBook</span> (follow any additional prompts)</li>
                        <li>At the VitalSource homepage there are 2 options:
                            <ul>
                                <li><span class="fw-bold">Option 1: Recommended:</span> Enter email and follow prompts to create a full account with VitalSource Bookshelf.  This will enable you to access your eBook(s) via direct login in future.  You will also be able to download the VitalSource Bookshelf app to read on phone/tablet and offline.</li>
                                <li><span class="fw-bold">Option 2:</span> Click ‘Continue without an Account’ and follow prompts to access your eBook. </li>
                            </ul>
                        <li>Commence Reading</li>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                    How long can I access my eBook for?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    <p>If you have purchased your eBook, i.e. not rented, there is no access end date.</p>

                    <p>If a customer purchases the current edition they will have access to that Edition until a new Edition is published.  For example if a customer purchases 1st Edition in 2023 and a 2nd Edition is published in 2028, the customer would need to make a new purchase to access the 2nd Edition.</p> 

                    <p>Any updates to the Edition originally purchased will be pushed through automatically to the eBook that is accessible in the customer’s VitalSource Bookshelf library.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSixteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSixteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseSixteen">
                    What is your return/refund policy and how do I request a refund?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseSixteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSixteen">
                <div class="accordion-body">
                    <p>For purchases not connected to a training course enrolment:</p>
                    <p>You may cancel your Royal Life Saving eBook purchase and request a refund within 14 days of your initial purchase (some exclusions apply), provided that:</p>
                    <ul>
                        <li>You have not viewed and/or printed, in total, more than twenty percent (20%) of the eBook.</li>
                        <li>You have not yet used the access code for any online resource that may be included with your eBook purchase.</li>
                    </ul>
                    <p>If you purchase a Royal Life Saving eBook, request a refund, and then purchase the same eBook again, you will not be eligible to request any further refunds for that eBook.</p>
                    <p>You can request a refund by completing the Contact Us form connected to the Product Support link at the bottom of the Royal Life Saving eBook Store home page. At Enquiry Type select ‘eBooks’ from the drop-down menu and provide as much information as possible in the Comment section. </p>
                    <p>For purchases connected to a training course enrolment, please refer to the terms and conditions and/or refund policy of your enrolment with the applicable Royal Life Saving / Life Saving Victoria State or Territory Office and follow up with that office accordingly.  (Your eBook purchase is part of your course enrolment)</p>
                </div>
            </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                    Can I purchase an eBook if I live outside Australia?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body">
                    At this stage you cannot purchase RLS eBook outside of Australia, other than from New Zealand.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                   What payment methods do you support?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                <div class="accordion-body">
                   We support payment by credit card (Mastercard or Visa). 
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSeventeen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeventeen" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeventeen">
                   What invoice / receipt will I receive and how?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeventeen">
                <div class="accordion-body">
                   You will receive a tax invoice generated out of our payment gateway, Stripe.  This will be emailed to you
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                   Do I have to pay GST on an eBook?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                <div class="accordion-body">
                   <p>The quoted price on the Royal Life Saving eBook store/web page includes GST.</p>
                   <p>The quoted price on the VitalSource Bookshelf store includes GST.</p>
                   <p>Your invoice will indicate if that price included a GST component or not.</p>
                   <p>If you have been supplied access to your eBook through your enrolment in a Royal Life Saving / Life Saving Victoria training course, the price for the eBook is included in your course fee. GST is not applicable. </p>
                   <p>
                    If renting your eBook(s) the price quoted will include GST. 
                   </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingEighteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEighteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseEighteen">
                    Can I purchase multiple copies of an eBook in one transaction?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseEighteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEighteen">
                <div class="accordion-body">
                   <p>
                    Yes, you can. If you wish to purchase eBooks in bulk, please click on the ‘Buy or Rent Multiple Copies’ button and fill in the form which comes directly to the Royal Life Saving National Office.  We will get in touch with you and facilitate the transaction.  
                   </p>
                </div>
            </div>
        </div>
         <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingNineteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNineteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseNineteen">
                    Can I rent (borrow) eBooks?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseNineteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNineteen">
                <div class="accordion-body">
                   <p>
                    Yes you can.  If you wish to rent a Royal Life Saving eBook, either single or multiple copies, please click on the ‘Buy or Rent Multiple Copies’ button and fill in the form which comes directly to the Royal Life Saving National Office .  We will get in touch with you, give you the pricing, and facilitate the transaction. 
                   </p>
                </div>
            </div>
        </div>
         <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwenty">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwenty" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwenty">
                    How does renting an eBook work?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwenty" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwenty">
                <div class="accordion-body">
                   <p>
                    You can rent Royal Life Saving eBooks for the following periods: 7 days, 30 days or 90 days.
                   </p>
                   <p>
                    The time period begins when the eBook is first accessed.  The book is accessible during the period on up to 4 devices (2 computers AND 2 mobile devices) and once the time period has elapsed the book is no longer accessible. 
                   </p>
                   <p>
                    Rental fees vary depending on the product/eBook. We will provide you with the fees upon receiving the form attached to the ‘Buy or Rent Multiple Copies’ button. 
                   </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwentyOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyOne">
                    Can I purchase an eBook for someone else, e.g. as a gift?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwentyOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwentyOne">
                <div class="accordion-body">
                   <p>
                    If you wish to purchase eBooks as a gift, click on the ‘Buy or Rent Multiple Copies’ button and fill in the form which comes directly to the Royal Life Saving National Office.  We will get in touch with you and facilitate the transaction.  
                   </p>
                </div>
            </div>
        </div>
         <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingEleven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEleven" aria-expanded="false" aria-controls="panelsStayOpen-collapseEleven">
                   Can I print my eBook?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseEleven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEleven">
                <div class="accordion-body">
                You can print 2 pages of your RLS eBook.                
                </div>
            </div>
        </div>  
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwentyTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyTwo">
                    How do I redeem a code for a book already purchased?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwentyTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwentyTwo">
                <div class="accordion-body">
                   <p>
                    You can redeem a code directly in Bookshelf by clicking the ‘Redeem’ button on the VitalSource Bookshelf home page (top right) and following the prompts.  
                   </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
                    What is an eBook?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
                <div class="accordion-body">
                    An eBook (also known as a digital textbook or eText) is a digital, downloadable version of a printed textbook. eBooks can generally be read online or offline through any supported device (PC, Mac, Smartphone, or Tablet running iOS or Android). eBook readers have interactive features including highlights, notes, flashcards, embedded video, and read aloud that allow for an engaging reading experience. Royal Life Saving delivers our eBooks using the VitalSource platform, which can be read in any web browser or using the VitalSource Bookshelf app. 
                </div>
            </div>
        </div> 
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen">
                    What is the difference between an eBook and a PDF? 
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTen">
                <div class="accordion-body">
                    <p>
                        Our eBooks are published as Reflowable Textbooks, in a format known as ePUB. The text is responsive so the font size can easily be adjusted no matter the size of the screen. In contrast, a PDF is a fixed layout which means that the text is fixed and the screen size determines the size of the text
                    </p>
                    <p>
                        PDFs can be difficult to read on smaller screens, where zooming in to make text larger results in needing to scroll sideways to read the lines in paragraphs of fixed width. Utilising the ePUB format allows our textbooks to be easy to read and follow on a range of devices – you can read our eBooks on phones or tablets of any size, as well as computers
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwentyThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyThree">
                    What devices can I read an eBook on? 
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwentyThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwentyThree">
                <div class="accordion-body">
                   <p>
                    Read your textbooks on any computer, tablet or mobile phone. VitalSource Bookshelf is compatible with both Macs and PCs as well as iOS, Android, Kindle Fire, and Chromebook devices.
                   </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwelve">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwelve" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwelve">
                   Can I access my eBook on more than one device?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwelve">
                <div class="accordion-body">
                    Yes. You will be able to download and access your eBook onto 2 computers AND 2 mobile devices using the VitalSource Bookshelf app.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThirteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThirteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseThirteen">
                   Do I have to be connected to the internet to read my eBook?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThirteen">
                <div class="accordion-body">
                    You do not have to be connected to the internet to access your eBooks. To access your eBooks offline, you will need to download the Bookshelf app onto your computer, tablet or mobile device. To download the Bookshelf App, create a Bookshelf account and follow the prompts to download the app.  The Bookshelf app is also available through various app stores. 
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                    Who is VitalSource? What is their role? 
                </button>
            </h2>
            <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
                <div class="accordion-body">
                    <p>
                        Royal Life Saving is committed to making it easier to access your learning materials quickly from anywhere, so we have converted the latest editions of our textbooks into digital eBooks. We have  partnered with VitalSource to distribute our eBooks in accordance with industry best practices.
                    </p>

                    <p>
                        VitalSource is one of the leading providers of digital course materials in higher education. They are an authorized distributor for over 1,000 publishers and manage over 1 million textbooks. Nearly 1M students purchased from the VitalSource store in 2020. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

