/// <reference path="../../index.scss" />
///////////////////////////////////////////////////////////////////////////////////
/// 

.testimonial-card {
  background: #FFFFFF;
  box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1), 0px 30px 60px -12px rgba(50, 50, 93, 0.16);
  border-radius: 20px;
  padding: 1.8rem;
}

.feature-card {
    background: $white;
    box-shadow: 0px -2px 69px -18px rgb(230 248 254 / 80%), 0px 17px 60px -12px rgb(230 248 254 / 80%);
    border-radius: 10px;
    padding: 29px 25px;
    margin: 4px 5px;
    height: 100%;

    .title {
        font-family: $font-family-vag-rounded;
        font-size: 18px;
        color: $theme-primary;
        font-weight: $font-weight-bold;
        padding-top: 6px;
        margin-bottom: 12px;

        @include media-breakpoint-up(md) {
            font-size: 19px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 21px;
        }
    }

    .desc {
        font-size: 16px;
        margin: 0;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }
    }
}


// FAQ cards

.card-faq {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    border: none;
    border-top: 1px solid $gray-400;

    .card-header {
        border-bottom: none;
    }

    .card-accordion-link {

        &::after {
            background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23131D39' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-minus'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
        }

        &.collapsed::after {
            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23131D39' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-plus'%3E%3Cline x1='12' y1='5' x2='12' y2='19'%3E%3C/line%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
        }
    }

    .card-body { 

      /*  color: $gray-700;
        padding-left: ($spacer * 2);*/
    }
}
