    <div>
        <h2 class="text-primary">eBook Features</h2>
        <div class="space-separator"></div>
        <div class="row px-2 justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 px-1 pt-2 pb-3">
                <div class="feature-card">
                    <div class="icon icon-lg"><icon icon="InstantAccess"></icon></div>
                    <p class="title">Instant Access</p>
                    <p class="desc">Purchase and read your book immediately</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 px-1 pt-2 pb-3">
                <div class="feature-card">
                    <div class="icon icon-lg"><icon icon="Offline"></icon></div>
                    <p class="title">Read Offline</p>
                    <p class="desc">Access your eTextbook anytime and anywhere.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 px-1 pt-2 pb-3">
                <div class="feature-card">
                    <div class="icon icon-lg"><icon icon="Aloud"></icon></div>
                    <p class="title">Read Aloud</p>
                    <p class="desc">Listen and follow along as bookshelf reads to you.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 px-1 pt-2 pb-3">
                <div class="feature-card">
                    <div class="icon icon-lg"><icon icon="StudyTools"></icon></div>
                    <p class="title">Study Tools</p>
                    <p class="desc">Bookmark, highlight, note-taking, word-search.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 px-1 pt-2 pb-3">
                <div class="feature-card">
                    <div class="icon icon-lg"><icon icon="DynamicImages"></icon></div>
                    <p class="title">Dynamic Images & Diagrams</p>
                    <p class="desc">Interactive images and diagrams that assist learning.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 px-1 pt-2 pb-3">
                <div class="feature-card">
                    <div class="icon icon-lg"><icon icon="LearningTools"></icon></div>
                    <p class="title">Learning Tools</p>
                    <p class="desc">Quizzes, knowledge checks, flash cards to assist revision and retention.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 px-1 pt-2 pb-3">
                <div class="feature-card">
                    <div class="icon icon-lg"><icon icon="Video"></icon></div>
                    <p class="title">Video</p>
                    <p class="desc">See key sequences in action along with breakdown of techniques.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 px-1 pt-2 pb-3">
                <div class="feature-card">
                    <div class="icon icon-lg"><icon icon="Highlights"></icon></div>
                    <p class="title">Content Highlights</p>
                    <p class="desc">Stand out boxes highlighting key principles and take-aways.</p>
                </div>
            </div>
        </div>
    </div>