<footer class="page-container-sm">
    <div class="space-separator--lg"></div>
        <div class="d-flex align-items-center justify-content-center">
            <img src="/images/RLSA-logo-dark.svg" alt="">
        </div>
    <div class="space-separator--md"></div>
    <div class="footer-links">
        <a class="links" href="https://www.royallifesaving.com.au/footer/terms-and-conditions" target="_blank">
            Terms and Conditions
        </a>
        <a class="links" href="https://www.royallifesaving.com.au/forms/contact-us-form/" target="_blank">
            Product Support
        </a>
        <a class="links" href="https://www.royallifesaving.com.au/footer/privacy-policy" target="_blank">
            Privacy
        </a>
        <a class="links" href="https://www.royallifesaving.com.au/footer/accessibility" target="_blank">
            Accessibility
        </a>
    </div>
    <div class="space-separator"></div>
    <div class="footer">
        <p class="all-rights">&copy; 2022 Royal Life Saving Australia. All Rights Reserved</p>
        <div class="socials">
            <div class="mx-1">
                <a href="https://www.facebook.com/RoyalLifeSaving" target="_blank" >
                    <div class="social">
                        <div class="icon icon-xs
                          icon-social"><icon icon="Facebook"></icon></div>
                    </div>
                </a>
            </div>
                <div class="mx-1">
                <a href="https://twitter.com/royallifesaving?lang=en" target="_blank" >
                    <div class="social">
                        <div class="icon icon-xs
                          icon-social"><icon icon="Twitter"></icon></div>
                    </div>
                </a>
            </div>
                <div class="mx-1">
                <a href="https://www.instagram.com/royallifesaving/?hl=en" target="_blank" >
                    <div class="social">
                        <div class="icon icon-xs
                          icon-social"><icon icon="Instagram"></icon></div>
                    </div>
                </a>
            </div>
                <div class="mx-1">
                <a href="https://www.youtube.com/RoyalLifeSavingAust" target="_blank" >
                    <div class="social">
                        <div class="icon icon-xs
                          icon-social"><icon icon="Youtube"></icon></div>
                    </div>
                </a>
            </div>
                <div class="mx-1">
                <a href="https://www.royallifesaving.com.au/" target="_blank" >
                    <div class="social">
                        <div class="icon icon-xs
                          icon-social"><icon icon="UpLeft"></icon></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>