<header>
    <nav class="masthead">
        <div class="masthead-container page-container-sm">
            <div class="masthead-logo">
                <a asp-page="/index">
                    <img class="logo-img" src="/images/RLSA-logo-white.svg"/>
                </a>
            </div>
            <div class="masthead-button">
            <div class="close">
                <a href="#" >
                    <div class="masthead-toggle-open">
                        <div class="icon">
                            <icon icon="Close" />
                        </div>
                    </div>
                </a>
                </div>

                <a class="links" href="/">
                    Home
                </a>
                <a class="links" href="/faq">
                    FAQ
                </a>
                <a class="links d-md-none border-bottom-0" href="/login">
                    <div class="icon icon-sm icon-me-1"><icon icon="Login"></icon></div>
                    Login
                </a>
                <a class="btn btn-icon btn-login d-none d-md-flex" href="/login">
                    <div class="icon icon-sm icon-me-1"><icon icon="Login"></icon></div>
                    Login
                </a>
            </div>
            <div class="masthead-toggle">
                <a href="#">
                    <div class="masthead-toggle-open">
                        <div class="icon d-flex justify-content-center">
                            <icon icon="Menu" />
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </nav>
</header>