<div class="tophead">
    <div class="icon icon-2sm me-2">
        <icon icon="Checked"></icon>
    </div>
    <div class="tophead-text">
        <p class="m-0 text-primary-muted fw-bolder text">Essential learning for nationally recognised Pool Lifeguard Skill Set <span class="text-primary-light fw-normal">(SISSS0029)</span></p>
    </div>
</div>